<html>
  <head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Health Advisory for Covid-19</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "static/style.css" href= "https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel= "stylesheet" />

	</head>

	<body>
    <br>
    <h1><span>Health Advisory</span></h1><br>
    
	</body>
  <body>
    <p1>
		<form action="/" method="POST">
			<h2>What is your name?</h2> <input type="text" name="name" /><br /><br />

      <h2>Did you meet anyone who is infected?</h2> 
      <input type="radio" name="meet" value="yes">Yes
      <input type="radio" name="meet" value="no">No <br /><br />

      <h2>Are you showing any COVID-19 symptoms?<br> (Eg. cough,fever) </h2>
      <input type="radio" name="sick" value="yes">Yes
      <input type="radio" name="sick" value="no">No <br /><br />

			<span><input type="submit" value="Submit" /></span>       
		</form>
    </p1>
    
</html>
